{% extends 'layout.html' %}
{% block content %}
{% load humanize %}

<section class="section-cart-item-list">
    <div class="container">
        <h1 class="t-text-[1.2rem] t-font-bold">장바구니</h1>

        <div class="t-mt-[10px]">
            <input type="checkbox" class="cart-items__checkbox-all" onchange="CartItems__allCheckBoxCheckChanged(this)">
        </div>

        <ul>
            {% for cart_item in cart_items %}
            <li class="t-border-[color:#989898] t-border-0 t-border-t t-border-solid t-py-[20px]">
                <div class=" t-pl-5 t-flex t-mt-2 t-border-1">
                    <input type="checkbox">
                    <img class="t-flex-shrink-0 t-w-[100px] t-h-[100px] sm:t-w-[100px] sm:t-h-[100px]"
                         src="{{ cart_item.product_real.product.image.url }}" alt="">
                    <div class="t-ml-2">{{ cart_item.product_real.product.display_name }}</div>
                </div>
                <div class="t-flex t-pl-5 t-mt-2">
                    <div>{{ cart_item.product_real.option_1_display_name }}</div>
                    <div></div>
                    <div>{{ cart_item.product_real.option_2_display_name }}</div>
                </div>
                <form class="t-flex t-pl-5 t-mt-2">
                        {% csrf_token %}
                        <button type="button"><i class="fas fa-plus-square"></i></button>
                        <input readonly class="form-control t-w-[100px]" type="number" value="{{cart_item.quantity}}">
                        <button type="button"><i class="fas fa-minus-square"></i></button>
                </form>
                <div>

                </div>
                <div>
                    {{ cart_item.product_real.product.sale_price|intcomma}}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    </div>
</section>
{% endblock %}

