*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.t-relative {
  position: relative;
}

.t--z-50 {
  z-index: -50;
}

.t-m-auto {
  margin: auto;
}

.t-mt-\[20px\] {
  margin-top: 20px;
}

.t-mt-\[100px\] {
  margin-top: 100px;
}

.t-mt-2 {
  margin-top: 0.5rem;
}

.t-mt-10 {
  margin-top: 2.5rem;
}

.t-mt-\[10px\] {
  margin-top: 10px;
}

.t-ml-2 {
  margin-left: 0.5rem;
}

.t-mt-auto {
  margin-top: auto;
}

.t-block {
  display: block;
}

.t-inline-block {
  display: inline-block;
}

.t-flex {
  display: flex;
}

.t-grid {
  display: grid;
}

.t-h-\[100px\] {
  height: 100px;
}

.t-h-\[500px\] {
  height: 500px;
}

.t-h-\[155px\] {
  height: 155px;
}

.t-h-\[150px\] {
  height: 150px;
}

.t-h-\[120px\] {
  height: 120px;
}

.t-h-\[50\%\] {
  height: 50%;
}

.t-w-\[300px\] {
  width: 300px;
}

.t-w-\[100px\] {
  width: 100px;
}

.t-w-\[700px\] {
  width: 700px;
}

.t-w-full {
  width: 100%;
}

.t-w-screen {
  width: 100vw;
}

.t-w-\[100\%\] {
  width: 100%;
}

.t-w-\[45\%\] {
  width: 45%;
}

.t-w-\[90\%\] {
  width: 90%;
}

.t-w-\[500px\] {
  width: 500px;
}

.t-w-\[155px\] {
  width: 155px;
}

.t-w-\[30\%\] {
  width: 30%;
}

.t-w-\[150px\] {
  width: 150px;
}

.t-w-\[120px\] {
  width: 120px;
}

.t-w-\[50\%\] {
  width: 50%;
}

.t-w-\[10px\] {
  width: 10px;
}

.t-max-w-screen-md {
  max-width: 768px;
}

.t-flex-1 {
  flex: 1 1 0%;
}

.t-flex-shrink-0 {
  flex-shrink: 0;
}

.t-grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.t-flex-col {
  flex-direction: column;
}

.t-items-center {
  align-items: center;
}

.t-justify-center {
  justify-content: center;
}

.t-gap-\[3px\] {
  gap: 3px;
}

.t-whitespace-nowrap {
  white-space: nowrap;
}

.t-border-0 {
  border-width: 0px;
}

.t-border-t-2 {
  border-top-width: 2px;
}

.t-border-t {
  border-top-width: 1px;
}

.t-border-solid {
  border-style: solid;
}

.t-border-\[color\:\#676767\] {
  --tw-border-opacity: 1;
  border-color: rgb(103 103 103 / var(--tw-border-opacity));
}

.t-border-\[color\:red\] {
  --tw-border-opacity: 1;
  border-color: rgb(255 0 0 / var(--tw-border-opacity));
}

.t-border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.t-border-\[color\:\#989898\] {
  --tw-border-opacity: 1;
  border-color: rgb(152 152 152 / var(--tw-border-opacity));
}

.t-object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.t-py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.t-pt-\[20px\] {
  padding-top: 20px;
}

.t-pl-5 {
  padding-left: 1.25rem;
}

.t-pl-2 {
  padding-left: 0.5rem;
}

.t-text-left {
  text-align: left;
}

.t-text-center {
  text-align: center;
}

.t-align-middle {
  vertical-align: middle;
}

.t-text-\[1\.2rem\] {
  font-size: 1.2rem;
}

.t-text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.t-text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.t-font-bold {
  font-weight: 700;
}

.t-italic {
  font-style: italic;
}

.t-text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.t-text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.t-text-opacity-20 {
  --tw-text-opacity: 0.2;
}

.t-no-underline {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.t-transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@font-face {
  font-family: 'GmarketSansMedium';

  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');

  font-weight: normal;

  font-style: normal;
}

html > body ul,
html > body li {
  margin:0;
  padding:0;
  list-style:none;
}

html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

html > body :is(h1, h2, h3, h4, h5, h6) {
  font-weight:normal;
  margin:0;
  font-size:1rem;
}

.t-group:hover .group-hover\:t-scale-110 {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: var(--tw-transform);
}

.t-group:hover .group-hover\:t-underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media (min-width: 640px) {
  .sm\:t-h-\[100px\] {
    height: 100px;
  }

  .sm\:t-w-\[100px\] {
    width: 100px;
  }
}