<!doctype html>
{% load static %}
{% load humanize %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>쇼핑몰</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'common.css' %}">

</head>
<nav class="navbar navbar-expand-xl navbar-light bg-white border-bottom">
    <div>
    <a class="navbar-brand t-flex" href="{% url 'products:list' %}"><STRONG>　　M E G A S H O P </STRONG></a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products:list' %}">상품리스트</a>
            </li>
                {% if user.is_authenticated %}
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'accounts:logout' %}">[로그아웃]</a>
            </li>
            <li class="nav-item">
                 <a class="nav-link" href="">
                     {{ user.first_name}}'s Mypage
                 </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="float:right" href="{% url 'accounts:signup' %}">회원가입</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="float:right" href="{% url 'accounts:find_username' %}">아이디찾기</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div>
    <img class="t-w-screen" src="https://lh3.googleusercontent.com/iiQGtYHH63E6no9LDhanx8a5YhznqBxaC5d86ZXgOc1QCyCd2tHwgmaVfEBhxQOedq4p2VOi8v49o7BXuznf_5bngqox3eFCCyF4jipFAToJAtQNyTUOOMeZbE4kr_ZXW0gs2hEhWbtMMZkMoEPaBxsfdPSeZLr_KqcsyhpnaAmnoaMxp7Jr1_mN9hIqBssDIJZzjy-ZQCo4syW4zr9pauyKRy1e0f2cfwoy_3tIyEZsMxqK7Q6lJJK4a3lwOxFXAane6VGWmVm9nArl66vVfGKHo_aQinqmIHPHlf9z1rARxK5_PDPICZLP8de7a6inkHCa58NMP9-vsEYaBj_Z9hULXyeT4f9UeVgeuhaksVcmohCZGxpQB4iUZ59WDtyHqgNC_kWBp5RDKi80qFGRJNVFaobPUh6glbicbGkHaUQn9vXb2cPPAN4SMnUJEghJK32vuNtP-BLmLJ5EHTfAb-VFeCJikQHOOXNDsEC4bVUyEo80CQYiFg13ThDUWX1w9KDdfy_Skq_SIaXt1xUpei3kCS9FyNCA-JoJFuVm59bir_gbhI89VRuDri-oHZU_mjP4N3ShzzRtmcIYwAb6srxdENPs7GNeWIgedRTA7mTeubzqdSpfccR9bCfnebxO1kOClpszCTOQINLp0ZCimjYJaEIYULJMbegEcIPR6ZImWyr_NQubE1jSqgIcwCyKo9W9riREbV5R9WdBGKqrN81G=w1641-h924-no?authuser=0">
</div>
<div id="testImg">
    <link rel="stylesheet" href="static/main.css">
    <button class="btn1" type="button" onclick="javascript:sensorBtnClick('btn1');">
    <a class="nav-link" href="{% url 'products:list' %}">홈페이지 바로가기</a>
    </button>
<!--    <button class="btn2" type="button" onclick="javascript:sensorBtnClick('btn2');">-->
<!--    <a class="nav-link"> 쇼핑몰 소개 </a>-->
<!--    </button>-->
</div>
