{% extends 'layout.html' %}
{% block content %}
{% load static %}
<br>
<div id="디테일메인" class="t-w-[100%] t-mt-[100px] t-text-center ">

    <div id="상품이미지" class="t-w-[45%] t-inline-block t-text-center ">
        <div class="t-w-[90%] t-m-auto">
            <div id="상품큰제목" class="">{{ product.display_name }}<br>
                <div class="t-color-red-300"></div>
            </div>
            <br>
            {% if product.image %}
            <img class="t-h-[500px] t-w-[500px] t-m-auto" src="{{ product.image.url }}">
            {% else %}
            <div class="t-h-[155px] t-w-[155px]">이미지 준비중이에요</div>
            {% endif %}
        </div>
    </div>
    <div id="상품정보" class="t-w-[30%] t-inline-block t-m-auto">
        <div class="card head">
            <div id="pd-detail-top">
                <link rel="stylesheet" href="static/product_detail.css">
                <div>
                    {{product.market.name}}
                </div>
                <li style="t-inline-block float:left">
                    {{product.display_name}}
                </li>
            </div>
            <div>
                price : {{ product.price }}원
            </div>
            <div>
                상품번호 : {{ product.id }}
            </div>
        </div>
        <hr>
        <div class="card body">
            <form action="" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="product_real_id">Size / Color </label>
                    <select class="p-2" id="product_real_id" name='product_real_id'>
                        <option value="">옵션선택</option>
                        {% for product_real in product_reals %}
                        <option>
                            <td>
                                {{ product_real.option_1_display_name }} /
                            </td>
                            <td>
                                {{ product_real.option_2_display_name}} /
                            </td>
                            <td>
                                {% if not product_real.is_sold_out %}
                                <span class="badge bg-primary">판매중</span>
                                {% else %}
                                <span class="badge bg-secondary">품절</span>
                                {% endif %}
                            </td>
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="quantity">
                        수량
                    </label>
                    <div class="col-xs-3">
                        <input name="quantity" id="quantity" placeholder="수량" min="1" max="100" class="form-control"
                               type="number"
                               value="1">
                    </div>
                </div>

                <div class="mb-3">
                    <input type="submit" value="장바구니 담기" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
<hr>
<div id="질문폼">
    <h5 style="color:blue">{{ questions.count }}개의 질문이 있습니다.</h5>
    <br>
    <div>
        <div style="display:inline-block">

            {% if questions %}
            <ul>
                {% for question in questions %}
                <li style="text-align:left">{{ forloop.counter}}. {{ question.body }}</li>
                <div>
                    <a href="{% url 'products:question_modify' product.id question.id  %}"
                       class="btn btn-sm btn-secondary">수정</a>
                    <br>
                    <a href="{% url 'products:question_delete' product.id question.id  %}"
                       class="btn btn-sm btn-warning"
                       onclick="if ( confirm('정말 삭제하시겠습니까?') == false ) return false;">삭제</a>
                </div>
                {% endfor %}
            </ul>

            {% endif %}

            {% if not questions %}
            <div class="card-body">
                <div class="t-text-gray-400">
                    질문이없습니다.
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div id="질문작성폼">
    {% if user.is_authenticated %}
    <form action="{% url 'products:question_create' product.id %}" method="post">
        {% csrf_token %}
        <textarea name="body" id="body" rows="15"></textarea>
        <input height="100px" type="submit" value="질문등록">
    </form>
    {% else %}
    <div class="t-text-gray-400">
        <a href="{% url 'accounts:signup' %}">로그인</a> 후 이용해주세요.
    </div>
    {% endif %}
</div>
{% endblock %}
