{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<div>
    <img src="https://marymond.kr/data/uploads/custom_view/main_pc_0827_6.jpg" width="100%" , height="">
</div>
<br>
<br>
<tbody>
<div>
    <ul class="t-grid t-grid-cols-4 t-gap-[5px]">
        {% if product_list %}
        {% for product in product_list %}
        <li class="t-flex t-flex-col">
            {% if product.image %}
            <img class="t-h-[380x] t-w-[380x] " src="{{ product.image.url }}">
            {% else %}
            <div class="t-h-[155px] t-w-[155px] t-align-middle"></div>
            {% endif %}
            <a href="{% url 'products:detail' product.id %}" style="text-align:center">
                {{ product.display_name}}</a>

            <a href="{% url 'products:detail' product.id %}" style="text-align:center">
                {{ product.price}}원</a>

        </li>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
    </ul>
</div>
</tbody>
</ul>
</ul>
</div>
{% endblock %}