{% extends 'layout.html' %}
{% block content %}
{% load static %}
{% load humanize %}
<img class="t-w-screen" src="https://lh3.googleusercontent.com/4ERJ96UZTwvsFxJz8p4NZK6tYiTDEuYoqZT0g3olIbsl4edgnia8m2uw7Xsf5wDkD00WKV0ZP-vqSaMSYe8fzKbPNKggwqoztFQQc2dc_HAk6q4h82Q3sWs3eXSMLM0s_Y0GI0pd3UOiGxqbYDylEJ60gD3NMsocz7ppcC7mSzD5hgN246wDgWgmAEC_RK085uh6E3CnyFelTO2cASKDoL4tzm3vl5HVWwqtlErJ9JZ8tzBpsOwy_qVP4K_xIX-Hw-Y0HtCkGv8xUCZccJtyJPbVVqChe11sGM5W4KNT5gYwxCunFYDqYR5kuNHGsNFTatl4YDsoYzWJU4HqEgq9MFV2PfbuzS8i1Zd1QknqdyTE3y7bhwAXztquxYmWO7vzTHJcgeGK6N7czhHGeB_Crugk9xTcC0wcehkeNKIIiNSOdvcFlp_TRSlBgkG2RRy8K2tQ9xN7jFem0rE3fUYNWi82cVcG8BfNmqKjOofFem8n-s6gi2ksRfbftNFq2d6_1ujUXsHBPWxQtyCB_X0SwdA6RLn8YJw-HNx26qpQctYWlDrh3c-OKqx9gPIRieEqymGtf0lV476uiYqoL3t1ttM-K-qeyl23pQh3AZG5x3w2qmLz0pccPViCaXh-KSIEGeV-D1S8MlXIluFhBRbs7Br8SK6nIKeyc9IpLSJSu4W8uqN7iQZRbUzC6EzXlMwXB_KZjOSsUDyJjoNg1T2_emmd=w1900-h750-no?authuser=0">
<br>
<br>
<tbody>
<div>
    <p class="t-text-center" style="font-size: 25px">- TODAY BEST -</p>
    <p class="t-text-center" style="color: #999;">오늘 가장 많이 팔린 아이템들을 만나보세요.</p>
    <ul class="t-grid t-grid-cols-4 t-gap-[3px]">
        {% if product_list %}
        {% for product in product_list %}
        <li class="t-flex t-flex-col t-group">
            {% if product.image %}
            <div class="t-w-full">
                <img data before="상품보기"
                     class="t-block t-m-auto t-w-[90%] t-transition-all group-hover:t-scale-110 t-relative t--z-50 t-object-cover"
                     src="{{ product.image.url }}" alt="" style="aspect-ratio: 1 / 1;">
            </div>
            {% else %}
            <div class="t-h-[100px] t-w-[100px] t-align-middle"></div>
            {% endif %}
            <br>
            <a class="t-text-center t-mt-2 t-no-underline t-text-black t-italic group-hover:t-underline"
               href="{% url 'products:detail' product.id %}" style="text-align:center">
                {{ product.display_name}}</a>

            <a class="t-text-center t-mt-2 t-no-underline t-text-black t-italic group-hover:t-underline"
               href="{% url 'products:detail' product.id %}" style="text-align:center color:#999;">
                {{ product.price|intcomma }}원</a>

            <a class="t-text-center t-mt-2 t-no-underline t-text-black t-italic group-hover:t-underline"
               href="{% url 'products:detail' product.id %}">
                <span>{{  product.colors|safe }}</span>
            </a>
        </li>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">상품이 없습니다.</td>
        </tr>
        {% endif %}

    </ul>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center t-mt-10">
        <!-- 이전페이지 -->
        {% if product_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ product_list.previous_page_number }}">
                <i class="fas fa-angle-left"></i>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                <i class="fas fa-angle-left"></i>
            </a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in product_list.paginator.page_range %}
        {% if page_number == product_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if product_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ product_list.next_page_number }}">
                <i class="fas fa-chevron-right"></i>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                <i class="fas fa-chevron-right"></i>
            </a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>
</tbody>
</ul>
</ul>
</div>
{% endblock %}